<!--
	This is the html of a component you created using "ng g c"
	It has a wrestler-get-component.ts file linked to it which is where your moustache 
	syntax variables are coming from
-->
<div class="headerImg">
	<img src="{{wrestler.image}}">
</div>
<p>{{wrestler.name}}</p>
<section class="links">
	<i class="fab fa-twitter icon"></i><span class="social-text">@{{wrestler.twitter}}</span>
</section>
<section class="links">
	<i class ="fas fa-tshirt icon"></i><span class="social-text"><a href="{{wrestler.merch}}">{{wrestler.merch}}</a></span>
</section>



